<div>
  <div>Provincia</div>
  <div><p><span>Provicia:</span> {{provincia.nombre}}</p></div>
  <div><p><span>Abreviatura:</span> {{provincia.abreviatura}} </p></div>
  <div><p><span>Capital:</span> {{provincia.capital}}</p></div>
  <div><p><span>Bandera:</span></p><img [src]="provincia.badera" /></div>
  <div><p><span>Poblacion:</span> {{provincia.poblacion}} </p></div>
  <div><p><span>Superficie:</span> {{provincia.superfcie}} </p></div>
  <div><p><span>Nro Departamentos:</span> {{provincia.nroDepartamentos}}</p></div>
</div>
